body {
  background: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
}

.container  #form{
  display: flex;
  justify-content: center;
  gap: 25px;
  position: relative;
  top: 85px;
}

.container #form #text {
  width: 300px;
  height: 40px;
  border-radius: 13px;
  border: 2px solid blue;
  background-color: #e7e2e2;
  font-size: 18px;
}

.container #form #password {
  width: 300px;
  height: 40px;
  border-radius: 13px;
  border: 2px solid blue;
  background-color: #e7e2e2;
  font-size: 18px;
}

.container #form #add {
  width: 125px;
  height: 40px;
  border-radius: 14px;
  border: 2px solid rgb(182, 40, 182);
  background-color: #fff;
  color: rgb(182, 40, 182);
  font-size: 18px;
}

.container #form #add:hover {
  transition: 1s;
  background-color: rgb(182, 40, 182);
  color: #fff;
}

.container #form #delete {
  width: 125px;
  height: 40px;
  border-radius: 14px;
  border: 2px solid rgb(182, 40, 182);
  background-color: #fff;
  color: rgb(182, 40, 182);
  font-size: 18px;
}

.container #form #delete:hover {
  transition: 1s;
  background-color: rgb(182, 40, 182);
  color: #fff;
}

.container #todoList li{
  display: flex;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: 120px;
  left: 540px;
  margin: 7px;
  border: 3px solid black;
  width: 500px;
  height: 70px;
  border-radius: 14px;
}

.container #todoList li p {
  font-size: 25px;
  font-weight: 700;
  position: relative;
  right: 45px;
}

.container #todoList li button {
  width: 120px;
  height: 38px;
  border-radius: 12px;
  background-color: #fff;
  font-size: 17px;
  margin-top: 17px;
  position: relative;
  left: 25px;
  color: rgb(182, 40, 182);
  border: 2px solid rgb(182, 40, 182);
}

.container #todoList li button:hover {
  transition: 1s;
  background-color: rgb(182, 40, 182);
  color: #fff;
}